{% extends "base.html" %}
{% block pageBase %}


      <table>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Concepto</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
        {% for dato in lista %}
            <tr>
          <td>{{dato[0]}}</td>    
          <td>{{dato[1]}}</td>
          <td>{{dato[2]}}</td>
          <td>{{dato[3]}}</td>
          <td>
            <a href="/update/{{dato[0]}}">Modificar</a>
            <a href="/delete/{{dato[0]}}">Eliminar</a>
          </td>
        {% endfor %}
       <!-- <tr>
          <td>01/09/2025</td>
          <td>Salario</td>
          <td>1800€</td>
        </tr>
        <tr>
          <td>15/09/2025</td>
          <td>Compra de alimentos</td>
          <td>-250€</td>
        </tr>
          <tr>
          <td>30/09/2025</td>
          <td>Compra de ropa</td>
          <td>-150€</td>
        </tr>-->
      </table>
      <br>
      <button>
        <a href="/new">Nuevo Registro</a>
      </button>
{% endblock %}
  