<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de ingresos y gastos</h1>
    <table>
  <tr>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Monto</th>
  </tr>
  <tr>
    <td>01/09/2025</td>
    <td>Salario</td>
    <td>1800€</td>
  </tr>
  <tr>
    <td>15/09/2025</td>
    <td>Compra de alimentos</td>
    <td>-250€</td>
  </tr>
    <tr>
    <td>30/09/2025</td>
    <td>Compra de ropa</td>
    <td>-150€</td>
  </tr>
</table>
</body>
</html>