{% extends "base.html" %}
 {% block pageBase %}
        <form>
            <label for="fecha">Fecha:</label><br>
            <input type="date" id="fecha" name="fecha"><br>
            <label for="concepto">concepto:</label><br>
            <input type="text" id="concepto" name="concepto"><br><br>
            <label for="monto">Monto:</label><br>
            <input type="number" id="monto" name="monto"><br><br>
            <input type="button" value="Guardar">
        </form> 
        <br>
        <button>
            <a href="/">Volver</a>
        </button>
 {% endblock %}
  